<div class="panel">
  <div class="panel-heading panel-title">
    Gráficos bonitinhos
  </div>
  <div class="panel-body">
    <div id="graphs" class="row">
      <div class="col-md-6">
        <label for="name">conta</label>
        <select id="bill-kind" class="form-control" name="bill[bill_type_id]">
          <% billsTypes.forEach(function(billType){%>
            <option value="<%= billType.id%>"><%= billType.name%></option>
          <%});%>
        </select>
        <div id="bar" class="" style="width: 100%;height:400px;"></div>
      </div>
      <div class="col-md-6">
        <div id="pie" class="" style="width: 100%;height:400px;"></div>
      </div>
    </div>
  </div>
</div>
