<script type="text/javascript" src="/javascripts/vendor/jquery.min.js" ></script>
<script type="text/javascript" src="/javascripts/vendor/bootstrap.min.js" ></script>
<!-- add echarts only line, bar, pie, scatter, legend, tooltip, toolbox, markLine, markPoint, markArea, dataZoom -->
<script type="text/javascript" src="/javascripts/vendor/echarts.min.js" ></script>
<script type="text/javascript" src="/javascripts/vendor/jquery.dataTables.min.js" ></script>
<!-- application js -->
<script type="text/javascript" src="/javascripts/general_functions.js" ></script>
<script type="text/javascript" src="/javascripts/custs.js" ></script>
<script type="text/javascript" src="/javascripts/bill.js" ></script>
<script type="text/javascript" src="/javascripts/user.js" ></script>
<script type="text/javascript" src="/javascripts/main.js" ></script>
<script type="text/javascript" src="/javascripts/bills_types.js" ></script>
