<nav class="nav-bar">
  <div class="content">
    <div class="col-md-2">
        <div class="dropdown">
        <div type="button" aria-expanded="false" align="left">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="/users">Usários</a></li>
          <li><a href="/bills">Lista de Contas</a></li>
          <li><a href="/metrics">Gráficos de Contas</a></li>
        </ul>
      </div>
    </div>
    <div href="/" class="col-md-8">
      Penna's Finances
    </div>
    <div class="col-md-2">
    </div>
  </div>
</nav>
