<div class="panel">
  <div class="panel-heading panel-title">
    Bem Vindo
  </div>
  <div class="panel-body">
    Seja bem vindo ao <i>Penna's Finances</i> um jeito simples e fácil de manter as suas
    finanças e evitar que você entre mais uma vez no cheque especial, para isso forneceremos
    <a href="/metrics">gráficos bonitinhos e coloridos</a> para você, amiguinho(a) descontrolado! <br/>
    em breve mais detalhes...
  </div>
</div>
