body {
  font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: #edf3ff;
}

div.wrapper {
  margin-top: 70px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

nav {
  background-color: #00474f;
  min-height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  /*position: fixed;*/
  top: 0;
  width: 100%;
}

nav div.content {
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 10px;
  align-content: center;
}

div.panel > div.panel-title {
  font-size: 25px;
  border-color: #c1c1c1;
}
div.panel > div.panel-body {
  font-size: 20px;
}
