<form class="" action="/bills/<%= bill.id %>" method="post">
  <div class="form-group">
    <label for="name">Nome</label>
    <select class="form-control" name="bill[bill_type_id]">
      <option value="">Selecione um tipo de conta</option>
      <% billsTypes.forEach(function(billType){%>
        <option value="<%=billType.id%>" <%= bill.bill_type_id == billType.id ? 'selected' : ''%>><%=billType.name%></option>
      <%});%>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Valor</label>
    R$ <input class="form-control" type="text" name="bill[value]" value="<%= bill.value %>">
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label for="month"> Mês </label>
        <select class="form-control" name="bill[month]">
          <option value="">Selecione um mês</option>
          <option value="01" <%= bill.month == '01' ? 'selected' : ''%>>Janeiro</option>
          <option value="02" <%= bill.month == '02' ? 'selected' : ''%>>Fevereiro</option>
          <option value="03" <%= bill.month == '03' ? 'selected' : ''%>>Março</option>
          <option value="04" <%= bill.month == '04' ? 'selected' : ''%>>Abril</option>
          <option value="05" <%= bill.month == '05' ? 'selected' : ''%>>Maio</option>
          <option value="06" <%= bill.month == '06' ? 'selected' : ''%>>Junho</option>
          <option value="07" <%= bill.month == '07' ? 'selected' : ''%>>Julho</option>
          <option value="08" <%= bill.month == '08' ? 'selected' : ''%>>Agosto</option>
          <option value="09" <%= bill.month == '09' ? 'selected' : ''%>>Setembro</option>
          <option value="10" <%= bill.month == '10' ? 'selected' : ''%>>Outubro</option>
          <option value="11" <%= bill.month == '11' ? 'selected' : ''%>>Novembro</option>
          <option value="12" <%= bill.month == '12' ? 'selected' : ''%>>Dezembro</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="month"> Ano </label>
        <select class="form-control" name="bill[year]">
          <option value="">Selecione um ano</option>
          <% for(i=2013; i <= 2025; i++){%>
            <% if (bill.year == i) {%>
              <option value="<%= i %>" selected><%= i %></option>
            <%}else{%>
              <option value="<%= i %>"><%= i %></option>
            <%}%>
          <%}%>
        </select>
      </div>
      <div class="col-md-06">
        <div class="radio">
          <label>
            <input type="radio" name="bill[user_id]" value=""  <%= bill.user_id == null  ? 'checked': ''%> >
             Conta da Casa
          </label>
          <% users.forEach(function(user){%>
            <label>
              <input type="radio" name="bill[user_id]" value="<%= user.id %>"  <%= bill.user_id == user.id  ? 'checked': ''%>>
              Conta do <%= user.name %>
            </label>
          <%});%>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group pull-right">
    <a href="/bills/<%= bill.id %>" class="btn btn-default"> Cancelar </a>
    <button class="btn btn-primary" type="submit"><%= bill.id != null ? 'Salvar' : 'Criar' %></button>
  </div>
</form>
