<div class="panel">
  <div class="panel-heading panel-title">
    Histórico de Contas
    <div class="pull-right">
      <a href="/bills/new" class="btn btn-success">Adicionar Conta</a>
    </div>
  </div>
  <div class="panel-body">
    <table id="bills">
      <thead>
        <th> Nome </th>
        <th> valor </th>
        <th> Mês </th>
        <th> Ano </th>
        <th style="width: 15%"></th>
      </thead>
    </table>
  </div>
</div>
