<div class="panel">
  <div class="panel-heading panel-title">
    <%= bill.name.capitalize() %>
    <div class="pull-right">
      <a href="/bills" class="btn btn-default"> Voltar</a>
      <a href="/bills/<%= bill.id %>/edit" class="btn btn-primary"> Editar</a>
    </div>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Valor</dt>
      <dd><%= bill.value %></dd>
      <dt>Mês</dt>
      <dd><%= bill.month %></dd>
      <% if (user == null){ %>
        <dt>Conta da casa</dt>
      <%} else {%>
        <dt>Conta do(a) <%= user.name %></dt>
      <%}%>
    </dl>
  </div>
</div>
