<div class="panel">
  <div class="panel-heading panel-title">
    Edição - <%= user.name %>
  </div>
  <div class="panel-body">
    <form class="" action="/users/<%= user.id %>" method="post">
      <div class="form-group">
        <label for="name">Nome</label>
        <input class="form-control" type="text" name="user[name]" value="<%= user.name %>">
      </div>
      <div class="form-group">
        <label for="name">Salário</label>
        R$ <input class="form-control" type="text" name="user[salary]" value="<%= user.salary %>">
      </div>
      <div class="form-group pull-right">
        <a href="/users/<%= user.id %>" class="btn btn-default"> Cancelar </a>
        <button class="btn btn-primary" type="butsubmitton">Salvar</button>
      </div>
    </form>
  </div>
</div>
