<div class="panel">
  <div class="panel-heading panel-title">
    Usuários
  </div>
  <div class="panel-body">
    <table id="users">
      <thead>
        <th> Nome </th>
        <th> Renda </th>
        <th style="width: 15%"></th>
      </thead>
      <tbody>
        <% users.forEach(function(user){%>
        <tr>
          <td> <%=user.name%> </td>
          <td> <%=user.salary%> </td>
          <td>
            <div class="btn-group">
              <a href="/users/<%=user.id%>" class="btn btn-primary btn-sm">
                <i class="fa fa-eye"></i>
              </a>
              <a href="/users/<%=user.id%>/edit" class="btn btn-danger btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
          </td>
        </tr>
        <%});%>

      </tbody>
    </table>
  </div>
</div>
