<div class="panel">
  <div class="panel-heading panel-title">
    <%= user.name %>
    <div class="pull-right">
      <a href="/users" class="btn btn-default"> Voltar</a>
      <a href="/users/<%= user.id %>/edit" class="btn btn-primary"> Editar</a>
    </div>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Salário</dt>
      <dd><%= user.salary%></dd>
    </dl>
  </div>
</div>
