<div class="panel">
  <div class="panel-heading panel-title">
    Edição - <%= bill_type.name %>
  </div>
  <div class="panel-body">
    <form class="" action="/bills_types/<%= bill_type.id %>" method="post">
      <div class="form-group">
        <label for="name">Nome</label>
        <input class="form-control" type="text" name="bill_type[name]" value="<%= bill_type.name %>">
      </div>
      <div class="form-group pull-right">
        <a href="/bills_types" class="btn btn-default"> Cancelar </a>
        <button class="btn btn-primary" type="butsubmitton">Salvar</button>
      </div>
    </form>
  </div>
</div>
