<div class="panel">
  <div class="panel-heading panel-title">
    Tipos de Conta
  </div>
  <div class="panel-body">
    <table id="bills_types">
      <thead>
        <th> Nome </th>
        <th style="width: 15%"></th>
      </thead>
      <tbody>
        <% bills_types.forEach(function(bill_type){%>
        <tr>
          <td> <%=bill_type.name%> </td>
          <td style="text-align: center;">
            <div class="btn-group">
              <a href="/bills_types/<%=bill_type.id%>/edit" class="btn btn-danger btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
          </td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </div>
</div>
